<!DOCTYPE html>
<html lang="en">
<head>
  <title>DecubiTection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body style="padding-top:130px;">

	


<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse 2-100 order-1 order-md-0 dual-collapse2">
                <span class="navbar-text" style="color:white;font-size:x-large">
                        DecubiTection
                </span>
  </div>
  <div class="navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="pdf">Export PDF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="patients">Patient Data</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="imprint">Imprint</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:30px">
	<div class="row" style="margin-bottom:100px">
		<div class="col"></div>
		<div class="col">
		<h1>Imprint</h1>
		</div>
		<div class="col"></div>
	</div>
	<div class="row" style="margin-bottom:100px">
		<div class="col"></div>
		<div class="col">
			<span >Name: Alex Jenke</span></br>
			<span>E-Mail: alexander.jenke@tu-dresden.de</span>
		</div>
		<div class="col"></div>
	</div>
	<div class="row" style="margin-bottom:100px">
		<div class="col"></div>
		<div class="col">
			<span >Name: Markus Fritzsche</span></br>
			<span>E-Mail: markus.fritzsche1@mailbox.tu-dresden.de</span>
		</div>
		<div class="col"></div>
	</div>

	<div class="row" style="margin-bottom:100px">
		<div class="col"></div>
		<div class="col">
			<span >In cooperation with TU Dresden.</span></br>
		</div>
		<div class="col"></div>
	</div>
</body>
</html>
