<!DOCTYPE html>
<html lang="en">
<head>
  <title>DecubiTection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body style="padding-top:130px;">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse 2-100 order-1 order-md-0 dual-collapse2">
		<span class="navbar-text" style="color:white;font-size:x-large">
			DecubiTection
		</span>
  </div>
  <div class="navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="pdf">Export PDF</a>
      </li>
      <li class="nav-item" style="display:none">
        <a class="nav-link" href="csv">CSV Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="patients">Patient Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">

	<input id ="idFilter" type="text" class="form-control" placeholder="Filter table by patient ID" onkeyup="filterTableById()" style="margin-bottom:12px"/>
	<button class="btn btn-primary" onclick="sortTable()" style="margin-bottom:20px">Sort rows by color</button>
	<button class="btn btn-primary" onclick="sortBack2()" style="margin-bottom:20px">Sort rows by ID</button>
	<button class="btn btn-primary" onclick="sort_timestamp()" style="margin-bottom:20px">Sort rows by timestamp</button>
	<button class="btn btn-primary" onclick="sort_fab()" style="margin-bottom:20px">Sort rows by care site</button>
	<button class="btn" data-toggle="modal" data-target="#myModal" style="margin-bottom:20px;float:right;"><i class="fa fa-question-circle fa-2x"></i></button>

	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Help</h4>
			</div>
			<div class="modal-body">
			  <p>Click on a patient in order to see more information about him.</p>
			  <p>If a patient is colored red, there is a potential risk, he or she (will) suffer(s) from decubitus, according to the algorithm. 
				  However, there is no guarantee that non-red colored patients are not affected. 
			  </p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		  
		</div>
	  </div>

	<table class="table table-hover" id="table">
		<thead>
			<tr>
				<th> Patient ID </th>
				<th> Birthday </th>
				<th> Gender </th>
				<th> timestamp</th>
				<th> care site</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
			<tr id="{{row}}" 
	       {% if data[row][2] %} class="table-danger" {% else %} style="background-color:#eeeeee" {% endif %} onclick="togglePatient('row{{row}}')"> 
				<td>{{row}}</td> 
				<td>{{data[row][0]}}</td>
				<td>{{data[row][1]}}</td>	
				<td>{{data[row][4]}}</td>
				<td>{{data[row][5]}}</td>
				{% if data[row][2]%}
				<td><img src="warning.png" height="10"></img></td>
				{% else %}
				<td></td>
				{% endif %}
			</tr>
			{% if data[row][2] %}
			<!--tr id="row{{row}}" class="collapse" style="background-color:#eeeeee"-->
			<tr id="{{row}}.5"  style="background-color:#eeeeee;">
				<td colspan="6" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px;">
					<div class="collapse" id="row{{row}}" style="padding-left:5px;margin-bottom:10px;margin-top:0px;background-color:#ffffff">	
						<span style="font-size:large;margin-bottom:10px">The algorithm found there is a potential risk that the patient may or will 
							may suffer decubitus. </span></br>
						<span style="font-size:large;margin-bottom:10px" >Reasons:
						</span></br>
						<!--ul class="list-group">
							{% for i in data[row][3] %}
							<li class="list-group-item">{{i}}</li>
							{% endfor %}
                                        	</ul-->
						{% for i in data[row][3] %}
						<span>{{i}}</span></br>
						{% endfor %}
					</div>

				</td>
			</tr>
			{% else %}
			<tr id="{{row}}.5"  style="background-color:#eeeeee;">
				<td colspan="6" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px;">
					<div class="collapse" id="row{{row}}" style="padding-left:5px;margin-bottom:10px;margin-top:0px;background-color:#ffffff">	
						<span style="font-size:large;margin-bottom:10px">The algorithm does not expect the patient to develop a pressure ulcer.
							However the following risk factors were discovered.</span></br>
						<span style="font-size:large;margin-bottom:10px" >Reasons:
						</span></br>
						<!--ul class="list-group">
							{% for i in data[row][3] %}
							<li class="list-group-item">{{i}}</li>
							{% endfor %}
                                        	</ul-->
						{% for i in data[row][3] %}
						<span>{{i}}</span></br>
						{% endfor %}

						<!--ul class="list-group">
							{% for i in data[row][3] %}
							<li class="list-group-item">{{i}}</li>
							{% endfor %}
                                        	</ul-->
					</div>

				</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<script src="main.js">
		
	</script>
</div>
</body>




